<div id="footer">
    <div id="textFooter1" class="footerInline">
        <h2 class="textFooter titleFooter">Ergonomie</h2>
        <p class="textFooter">Technologie</p>
        <p class="textFooter">Responsive (non)</p>
        <p class="textFooter">Bootstrap</p>
        <p class="textFooter">Angular</p>
        <p class="textFooter">NodeJs</p>
        <p class="textFooter">Visual Studio</p>
    </div>
    <div id="textFooter2" class="footerInline">
        <h2 class="textFooter titleFooter">Délice</h2>
        <p class="textFooter">Régal</p>
        <p class="textFooter">Douceur</p>
        <p class="textFooter">Sucré</p>
        <p class="textFooter">Fruité</p>
        <p class="textFooter">Saveurs</p>
        <p class="textFooter">Pomme Banane</p>
    </div>
    <div id="textFooter3" class="footerInline">
        <h2 class="textFooter titleFooter">Esprit d'équipe</h2>
        <p class="textFooter">Team-Building</p>
        <p class="textFooter">Flexibilité</p>
        <p class="textFooter">Start-up nation</p>
        <p class="textFooter">Emmanuel Macron</p>
        <p class="textFooter">Méthodes agiles</p>
        <p class="textFooter">Innovation</p>
    </div>
    <div id="divIcons">
      <img class="iconFooter" src="../../assets/images/facebookIcon.png" />
      <img class="iconFooter" src="../../assets/images/instagramIcon.png" />
      <img class="iconFooter" src="../../assets/images/twitterIcon.png" />
    </div>
  </div>
