/* Container holding the image and the text */
#divImgFood {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
}

/* Blurred img of food taking full width of the parent div */
#imgFood {
    width: 100%;
}

/* Div text centered in food image */
#divFoodText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

/* Title in div above */
#foodImgTitle {
    font-family: "Lucida Console";
    font-size: 4em;
}

/* Text in div above */
#foodImgText {
    font-family: "Lucida Console";
    font-size: 2em;
}
