<div *ngIf="!(user|async)">
    <form (ngSubmit)="onSubmit()" class="form-inline" #inscriptionForm="ngForm">
        <span *ngIf="message" class="navbar-brand mb-0 h1"> {{ message }} </span>

        <input type="search" class="form-control mr-sm-2" required [(ngModel)]="utilisateur['email']" name="Email" placeholder="Mail" />
        <input type="password" class="form-control mr-sm-2" required [(ngModel)]="utilisateur['password']" name="Password" placeholder="Mot de passe" />
    
        <input class="btn btn-outline-light my-2 my-sm-0" type="submit" value="Connexion" />
    </form>
</div>
<div *ngIf="user|async">
    <button (click)="onClickDeconnexion()" class="btn btn-outline-light my-2 my-sm-0" value="Connexion">Déconnexion</button>
</div>

<!-- <p> {{ message }} </p>-->
